#header{
    .h-nav{
        .h-nav__links--order{
            width: 100%;
            display: flex;
            justify-items: center;
            align-items: center;
            .h-nav__mainBrand{
                .h-nav__brand--hidden{
                    width: 150px;
                }
            }
            .h-nav__brand{
                .h-nav__brand--image{
                    width: 200px;
                }
            }
        }

        .h-nav_menu--hidden{
            .navbar-nav .nav-link {
                display: none;
            }
            .h-nav_menu-margin{
                display: none;
            }
        }

        .h-nav__menu--list{
            display: flex;
            .nav-item{
                .nav-link{
                    color: $black;
                    font-weight: 700;
                    margin: .8rem;
                    &:hover{
                        opacity: .5;
                    }
                }

            }

            .navItem-login{
                border-left: 1px solid $black;
                button{
                    margin: .8rem;
                }

            }
        }
    }
}
.sticky{
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    #header{
        .h-nav{
            padding: -0px;
            .h-nav__links--order{
                width: 100%;
                @include box-shadow(0px, 10px, 10px, #46464645, false);
                z-index: 5;
                margin-top: 0px;
                padding: 10px 20px;
                .h-nav__mainBrand{
                    .h-nav__brand--hidden{
                        width: 125px;
                        margin-right: 10px;
                    }
                }
                .h-nav__brand{
                    .h-nav__brand--image{
                        width: 175px;
                    }
                }
                .h-nav__menu--list{
                    display: none;
                }
                .navbar-toggler{
                    i{
                        font-size: xx-large;
                    }
                }
            }
            .h-nav_menu--hidden{
                padding-left: 35px;
                padding-top: 25px;
                padding-bottom: 30px;
                .h-nav_menu-margin{
                    margin-top: 45px;
                    display: block;
                }
                .navbar-nav .nav-link {
                    display: block;
                    color: $white;
                    font-size: large;
                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {

    #header{
        .h-nav{
            padding: -0px;
            .h-nav__links--order{
                .h-nav__mainBrand{
                    .h-nav__brand--hidden{
                        width: 95px;
                        margin-right: 5px;
                    }
                }
                .h-nav__brand{
                    .h-nav__brand--image{
                        width: 135px;
                    }
                }
                .navbar-toggler{
                    i{
                        font-size: large;
                    }
                }
            }
        }
    }
}

// .active > a{
//     color:$purple !important;
// }
